.contentClass{
    --background: #eee;
}

.listClass{
    padding-top: 0;
    background:#eee;
}

.logoDiv{
    padding-top: 15px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.textDiv{
    text-align: center;
    color: white;  
}